html,body{
  font-family:"Helvetica", sans-serif;
  color:#ffffff;
    margin:0;
  padding:15px;
  background-color:black;
  background-image:url(images/noiseGend.png);
  background-size:auto;
  background-repeat:repeat;
  background-attachment: fixed;
}

img{
	border:3px solid #ffffff;
}
.noBorder{
	border:0px;
}
#siteTitle{
 font-size:2em;
  
}

#header,#meat{
	position:static;
	clear:both;
	padding-left:10px;
	padding-right:10px;
}

#header{
	width:80%;
  color:#ffd900;
  padding-bottom: 10px;
}

#nav{
	font-size:1.2em;
}

.footnote{
    font-size:0.75em;
}

a{
	text-decoration:none;
	color:#45FFF6;
}

.tabLink{
  color:#ffd900;
}
.tabLink:hover{
	color:#45fff6;
}

.subtitle{
	font-size:1.5em;
	font-weight:bold;
}

.subsub{
	font-size:1.5em;
	font-weight:bold;
}

.subsec{
	padding-left:20px;
	padding-bottom:10px;
}



.tablinkSel,.sel{
	color:#45fff6;
 cursor:pointer; 
}

.notSel:hover{

	color:#45fff6;
}
.notSel{
color:#ffffff;
	background:transparent;
  cursor:pointer;
}


.clickImg:hover{
fill:#45fff6;
}
